<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Urlshortener Dashboard</title>
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <script src="./assets/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar fixed-top navbar-expand-sm navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Shortlinks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/new">New Shortlink<span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>

  <div style="height:56px;"></div>

  <div class="alert alert-warning" role="alert"
    style="padding:15px; margin-left:20px; margin-right:20px; margin-top:10px;">
    <h4 class="alert-heading">Development Mode</h4>
    This is all just preview and not ready yet
  </div>

  <div class="mx-auto card border-0 shadow card-body" style="margin:20px; padding:40px; width: fit-content;">


    <form action="/edit/shortlink" method="post">

      <div class="form-group">
        <label for="urlInput">URL</label>
        <input type="text" class="form-control" id="urlInput" required="required" name="url"
          placeholder="https://cedi.dev/" value="{{ .shortlink.Spec.Target }}">
        <small id="nameHelp" class="form-text text-muted">Enter a long URL to make a shortlink.</small>
      </div>

      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" name="name" style="display:none"
          value="{{ .shortlink.Name }}">
        <input type="text" class="form-control" id="nameInput" name="name2" aria-label="Disabled input" disabled
          value="{{ .shortlink.Name }}">
        <small id="nameHelp" class="form-text text-muted">This will be the vanity name for your shortlink.</small>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <input style="display:none" type="checkbox" class="btn btn-link" name="extendedCheckButton"
                onclick="javascript:expandAdditionalSettings()" id="extendedSettingsCheck" autocomplete="off" checked>
              <label id="extendedSettingsButton" class="btn btn btn-outline-primary" for="extendedSettingsCheck">Customize your link</label>
            </h5>
          </div>

          <div id="collapseExtendedSettings" class="collapse" style="display:block" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">

              <div class="form-group">
                <label for="ownersInput">Owner</label>
                <input type="text" class="form-control" id="ownerInput" name="owner" placeholder="octocat" ,
                  value="{{ .shortlink.Spec.Owner }}">
                <small id="ownerInputHelp" class="form-text text-muted">Add additional Owners. Use their GitHub name.
                  Multiple
                  values
                  are allowed (comma separated)</small>
              </div>

              <div class="form-group">
                <label for="coOwnersInput">Co-Owners</label>
                <input type="text" class="form-control" id="coOwnersInput" name="co-owners" placeholder="octocat" ,
                  value="{{ .coowners }}">
                <small id="coOwnersInputHelp" class="form-text text-muted">Add additional Owners. Use their GitHub name.
                  Multiple
                  values
                  are allowed (comma separated)</small>
              </div>

              <div class="form-group">
                {{ if ne .shortlink.Spec.Code 200 }}
                <input type="radio" class="btn btn-check" name="redirectTypeOption"
                  onclick="javascript:httpOrHtmlRedirectCheck()" id="httpRadio" value="http" autocomplete="off" checked>
                {{ else }}
                <input style="display:none" type="radio" class="btn btn-check" name="redirectTypeOption"
                  onclick="javascript:httpOrHtmlRedirectCheck()" id="httpRadio" value="http" autocomplete="off">
                {{ end }}
                <label id="httpButton" class="btn btn btn-outline-primary" for="httpRadio">HTTP</label>

                {{ if eq .shortlink.Spec.Code 200 }}
                <input style="display:none" type="radio" class="btn btn-check" name="redirectTypeOption"
                  onclick="javascript:httpOrHtmlRedirectCheck()" id="htmlRadio" value="html" autocomplete="off" checked>
                {{ else }}
                <input style="display:none" type="radio" class="btn btn-check" name="redirectTypeOption"
                  onclick="javascript:httpOrHtmlRedirectCheck()" id="htmlRadio" value="html" autocomplete="off">
                {{ end }}
                <label id="htmlButton" class="btn btn btn-outline-primary" for="htmlRadio">HTML</label>
              </div>

              <div id="ifHTML" style="display:none">
                <div class="form-group">
                  <label for="redirectAfterRange">Redirect after seconds</label><br />
                  <div class="input-group mb-3">
                    <input type="number" class="form-range" min="0" max="15" step="1" id="redirectAfterRange"
                      name="redirectAfter" value="{{ .shortlink.Spec.After }}">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">s</span>
                    </div>
                  </div>
                  <small id="redirectAfterHelp" class="form-text text-muted">Display a "you are being redirected" page
                    for
                    the
                    selected amount of seconds.</small>
                </div>
              </div>

              <div id="ifHTTP" style="display:none">
                <div class="form-group">
                  <label for="httpRedirectCodeSelect">HTTP Redirect code</label>
                  <select class="form-control" id="httpRedirectCodeSelect" name="httpStatusCode">
                    {{ if eq .shortlink.Spec.Code 301 }}
                    <option value="301" selected>301 - Moved Permanently</option>
                    <option value="302">302 - Found</option>
                    <option value="303">303 - See Other</option>
                    <option value="304">304 - Not Modified</option>
                    <option value="307">307 - Temporary Redirect</option>
                    <option value="308">308 - Permanent Redirect</option>
                    {{ else if eq .shortlink.Spec.Code 302 }}
                    <option value="301">301 - Moved Permanently</option>
                    <option value="302" selected>302 - Found</option>
                    <option value="303">303 - See Other</option>
                    <option value="304">304 - Not Modified</option>
                    <option value="307">307 - Temporary Redirect</option>
                    <option value="308">308 - Permanent Redirect</option>
                    {{ else if eq .shortlink.Spec.Code 303 }}
                    <option value="301">301 - Moved Permanently</option>
                    <option value="302">302 - Found</option>
                    <option value="303" selected>303 - See Other</option>
                    <option value="304">304 - Not Modified</option>
                    <option value="307">307 - Temporary Redirect</option>
                    <option value="308">308 - Permanent Redirect</option>
                    {{ else if eq .shortlink.Spec.Code 304 }}
                    <option value="301">301 - Moved Permanently</option>
                    <option value="302">302 - Found</option>
                    <option value="303">303 - See Other</option>
                    <option value="304" selected>304 - Not Modified</option>
                    <option value="307">307 - Temporary Redirect</option>
                    <option value="308">308 - Permanent Redirect</option>
                    {{ else if eq .shortlink.Spec.Code 307 }}
                    <option value="301">301 - Moved Permanently</option>
                    <option value="302">302 - Found</option>
                    <option value="303">303 - See Other</option>
                    <option value="304">304 - Not Modified</option>
                    <option value="307" selected>307 - Temporary Redirect</option>
                    <option value="308">308 - Permanent Redirect</option>
                    {{ else if eq .shortlink.Spec.Code 308 }}
                    <option value="301">301 - Moved Permanently</option>
                    <option value="302">302 - Found</option>
                    <option value="303">303 - See Other</option>
                    <option value="304">304 - Not Modified</option>
                    <option value="307">307 - Temporary Redirect</option>
                    <option value="308" selected>308 - Permanent Redirect</option>
                    {{ end }}
                  </select>
                  <small id="httpRedirectCodeHelp" class="form-text text-muted">The HTML code which is used to indicate
                    the
                    redirect.
                    Visit <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections">this link</a> for
                    more
                    information.</small>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <br />

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <script>
    function httpOrHtmlRedirectCheck() {
      if (document.getElementById('httpRadio').checked) {
        document.getElementById('ifHTTP').style.display = 'block';
        document.getElementById('ifHTML').style.display = 'none';

        document.getElementById('httpButton').classList.add('active');
        document.getElementById('htmlButton').classList.remove('active');
      } else {
        document.getElementById('ifHTML').style.display = 'block';
        document.getElementById('ifHTTP').style.display = 'none';

        document.getElementById('htmlButton').classList.add('active');
        document.getElementById('httpButton').classList.remove('active');
      }
    }

    function expandAdditionalSettings() {
      httpOrHtmlRedirectCheck();

      if (document.getElementById('extendedSettingsCheck').checked) {
        document.getElementById('collapseExtendedSettings').style.display = 'block';
        document.getElementById('extendedSettingsButton').classList.add('active');
      } else {
        document.getElementById('collapseExtendedSettings').style.display = 'none';
        document.getElementById('extendedSettingsButton').classList.remove('active');
      }
    }

    expandAdditionalSettings();
  </script>

</body>

</html>